{% extends 'allianceauth/base-bs5.html' %}

{% load i18n %}
{% load navactive %}

{% block page_title %}
    {% translate "afctrack Plugin" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "afctrack Plugin" %}
{% endblock header_nav_brand %}

{% block header_nav %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">{% translate "Home" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item {% navactive request 'index' %}">
                        <a class="nav-link" href="{% url 'index' %}">{% translate "Home" %}</a>
                    </li>
                    <li class="nav-item {% navactive request 'my_requests' %}">
                        <a class="nav-link" href="{% url 'my_requests' %}">{% translate "My requests" %}</a>
                    </li>
                    {% if perms.afctrack.manage %}
                        <li class="nav-item {% navactive request 'manage_requests' %}">
                            <a class="nav-link" href="{% url 'manage_requests' %}">{% translate "Manage requests" %}</a>
                        </li>
                        <li class="nav-item {% navactive request 'inactive_users' %}">
                            <a class="nav-link" href="{% url 'inactive_users' %}">{% translate "Inactive users" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock header_nav %}

{% block content %}
    <div class="allianceauth-afctrack-plugin">
        {% block details %}{% endblock %}
    </div>
{% endblock %}
