{% extends 'allianceauth/base-bs5.html' %}
{% load humanize %}
{% load i18n %}

{% block page_title %}
    {% translate "afctrack Plugin" %}
{% endblock page_title %}

{% block header_nav_brand %}
    {% translate "afctrack Plugin" %}
{% endblock header_nav_brand %}

{% block header_nav_collapse_left %}
    <!-- Remove any includes of missing templates -->
    <ul class="nav-item">
        <a href="{% url 'afctrack:index' %}" class="nav-link">{% translate "Home" %}</a>
    </ul>
    <ul class="nav-item">
        <a href="{% url 'afctrack:doctrine_amount' %}" class="nav-link">{% translate "Doctrine Amount" %}</a>
    </ul>
{% endblock header_nav_collapse_left %}

{% block header_nav_collapse_right %}
    <!-- Add your nav items here -->
    <li class="nav-item">
        <a href="{% url 'afctrack:some-other-url' %}" class="nav-link">{% translate "Some Other Page" %}</a>
    </li>
{% endblock header_nav_collapse_right %}

{% block content %}
{% endblock content %}

{% block extra_javascript %}
    {% include "bundles/datatables-js-bs5.html" %}
    {% include "bundles/jquery-ui-js.html" %}
    {% include "bundles/moment-js.html" %}
{% endblock extra_javascript %}

{% block extra_css %}
    {% include "bundles/datatables-css-bs5.html" %}
    {% include "bundles/jquery-ui-css.html" %}
{% endblock extra_css %}
