{% extends 'allianceauth/base-bs5.html' %}
{% load humanize %}
{% load i18n %}

{% block page_title %}
    {% translate "afctrack Plugin" %}
{% endblock page_title %}

{% block header_nav_brand %}
    {% translate "afctrack Plugin" %}
{% endblock header_nav_brand %}

{% block header_nav_collapse_left %}
    <!-- Remove any includes of missing templates -->
    <ul class="nav-item">
        <a href="{% url 'afctrack:index' %}" class="nav-link">{% translate "Home" %}</a>
    </ul>
    <ul class="nav-item">
        <a href="{% url 'afctrack:doctrine_amount' %}" class="nav-link">{% translate "Doctrine Amount" %}</a>
    </ul>
    <ul class="nav-item">
        <a href="{% url 'afctrack:fleet_type_amount' %}" class="nav-link">{% translate "Fleet Type Amount" %}</a>
    </ul>
    <ul class="nav-item">
        <a href="{% url 'afctrack:start_fleet' %}" class="nav-link">{% translate "Start a Fleet" %}</a>
    </ul>
{% endblock header_nav_collapse_left %}

{% block content %}
    <div class="allianceauth-afctrack-plugin">
        {% block details %}{% endblock %}
    </div>
{% endblock %}
