{% extends 'afctrack/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
    <!-- Fleet Counts Panel -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Fleet Counts" %}</h3>
        </div>
        <div class="panel-body">
            {% if fleet_counts %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% translate "Player Name" %}</th>
                            <th>{% translate "Fleets Created" %}</th>
                            <th>{% translate "Payment Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in fleet_counts %}
                            <tr>
                                <td>{{ player.creator_id__username }}</td>
                                <td>{{ player.fleet_count }}</td>
                                <th>{{ player.payment_amount }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% translate "No fleet count data available." %}</p>
            {% endif %}
        </div>
    </div>
        <!-- Doctrine Type Panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% translate "Doctrine Type" %}</h3>
            </div>
            <div class="panel-body">
                {% if fleet_count_doctrine %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% translate "Doctrine Type" %}</th>
                                <th>{% translate "Doctrines Used" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doctrine in fleet_count_doctrine %}
                                <tr>
                                    <td>{{ doctrine.doctrine }}</td>
                                    <td>{{ doctrine.doctrine_count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% translate "No doctrine count data available." %}</p>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
