{% extends 'afctrack/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
    <!-- Fleet Counts Panel -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Fleet Counts" %}</h3>
        </div>
        <div class="panel-body">
            {% if player_data %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% translate "Player Name" %}</th>
                            <th>{% translate "Total Fleets Created" %}</th>
                            <th>{% translate "Payment Amount" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player_name, data in player_data.items %}
                            <tr>
                                <td>{{ player_name }}</td>
                                <td>{{ data.total_fleet_count }}</td>
                                <td>{{ data.payment }}</td>  <!-- Display payment -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% translate "No fleet count data available." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
